.main {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  padding: 0;
  gap: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

@media (max-width: 600px) {
  .main {
    padding: 32px;
    padding-bottom: 80px;
  }

  .container {
    align-items: center;
  }
}

@media (min-width: 320px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
